/* variables */
.Carousel__dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}
.Carousel__dots.Carousel__dots--isRTL {
    direction: rtl;
}
.Carousel__dots .Carousel__dot {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    -webkit-appearance: none;
}
.Carousel__dots .Carousel__dot.Carousel__dot--selected {
    opacity: 1 !important;
}
.Carousel__dots .Carousel__dot:hover {
    opacity: 1;
}
.Carousel__dots .Carousel__dot:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: black;
}
.Carousel__dots .Carousel__thumbnail {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
}
.Carousel__dots .Carousel__thumbnail.Carousel__thumbnail--selected {
    opacity: 1 !important;
}
.Carousel__dots .Carousel__thumbnail:hover {
    opacity: 1;
}
.Carousel__thumbnail[type=button] {
    -webkit-appearance: none;
}
.Carousel--isRTL + .Carousel__dots {
    direction: rtl;
}
